.player-cards-flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-self: center;
  justify-content: center;
  align-items: center;
}

.player-cards-flex-container > div {
  margin: 10px;
  height: 100%;
}


.board-flex {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100%;
}

.board-flex > div {
  margin: 10px;
}

.card {
	
}

/*.board-flex > .hand-top {
  flex-grow: 1;
}

.board-flex > .board-center {
  flex-grow: 4;
}

.board-flex > .hand-bottom {
  flex-grow: 1;
}*/