html, body, .viewport {
  width: 100%;
  height: 100%;
  margin: 0;
}

.game-flex {
  display: flex;
  flex-direction: column;
  align-items: stretch;

}

.game-flex > div {
  margin: 0px;
}

.board-flex-container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  height: 100%;
  align-self: center;
  justify-content: center;
}

.board-flex-container > div {
  margin: 0px;
}

.player-cards-flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-self: center;
  justify-content: center;
  align-items: top;
}

.player-cards-flex-container > div {
}

.card {
	
}