html, body, .viewport {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
/*    background-image: url("pattern.png");*/
    background-repeat: repeat-x repeat-y;
    background-image: linear-gradient(to top,#003800,#005d00);
}


.game-flex {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;

}

.game-flex > div {
  width:100vw;
}

.board-flex-container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  align-self: center;
  justify-content: center;
}

.board-flex-container > div {
  min-height:18vh;
  max-height:18vh;
  border: 12px solid rgba(0,0,0,0);
}

.player-cards-flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-self: center;
  justify-content: center;
  align-items: center;
}

.player-cards-flex-container > div {
  min-height:18vh;
  max-height:18vh;
  min-width:5vw;
  max-width:8vw;
}

img {
  max-height:18vh;
  min-height:10vh;
}

.deck-container {
    position: relative;
    text-align: center;
    color: white;
}

.deck-text {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.deck-finish-turn-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
    background-color: chartreuse;
    font-size: 3.5vw;
    font-family: Courier;
    cursor: pointer;
    background-image: url("./images/done.png");
    background-size: 100%;
    background-repeat:no-repeat;
}

.disabled {
  pointer-events:none;
  opacity:0.6;
}

.disabled-regular {
  pointer-events:none;
}

.currentplayerdiv {
  background-color:#007f00;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.display-flex {
  display: flex;
}




/* The Modal (background) */
.modal {
/*  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.change-color-modal-content {
  position: relative;
  margin: auto;
  padding: 0;
  width: 200px;
  height: 200px;
  background-image: url("./images/Taki_Color_Chooser.png");
  background-size: cover;
  cursor: pointer;
}

.status-bar{
  width:100%;
  border: 1px solid black;
  background-color: #5b8858;
  border-collapse: collapse;
  height:10px;
  color:white;
  font-family: Courier;
  font-style: bold;
}
.status-bar:hover{
  width:100%;
  border: 1px solid black;
  background-color: #06A85F;
  border-collapse: collapse;
  height:10px;
}
.status-bar-td{
  /*border: 1px  solid black;*/
  border-width: 0px 1px 0px 0px;
  border-collapse: collapse;
  height:10px;

  font-size: 1em;
  padding: 5px;
  color: #fff;
  border: 2px solid #06D85F;
  border-radius: 20px/50px;
  text-decoration: none;
  /*transition: all 0.3s ease-out;*/

}


#withdraw,#new-game{
  background-color: chartreuse;
  font-family: Courier;
  cursor: pointer;
  display: block;
  width: 100%;
  height: 100%;
  padding:0px;
  margin: 0px
}

.create-game-btn,.create-room-close-button{
  background-color: chartreuse;
  font-family: Courier;
  cursor: pointer;
  display: block;
  width: 100%;
  height: 100%;
  padding-top:4px;
  padding-bottom:4px;
  margin: 0px
}

#end-ok-button,#end-new-game-button,#close-end-game-button,#navigate-game-button{
  background-color: chartreuse;
  font-family: Courier;
  cursor: pointer;
  display: block;
  width: 80%;
  height: 100%;
  padding:3px;
  margin: 5px;
}

.navigation-button{
  background-color: chartreuse;
  font-family: Courier;
  cursor: pointer;
  display: block;
  width: 100%;
  height: 40px;
  margin-left: 20px;
  margin-right: 20px;
}

.create-room-modal {
  z-index: 10000; /* Sit on top */
  overflow: auto; /* Enable scroll if needed */
  background-color: #37bf3d;
  align-self: center;
  padding:2%;
  position: fixed;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 25px;
  border: 4px solid #555528;
  width:30%;
}

.end-game-modal {
  z-index: 10000; /* Sit on top */
  overflow: auto; /* Enable scroll if needed */
  background-color: #7ba858;
  align-self: center;
  padding:30px;
  position: fixed;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 25px;
  border: 4px solid #555528;
}


.end-game-modal-content {
  font-family: Courier;
  position: relative;
  margin: auto;
  /*padding: 20px;*/
  width: stretch;
  height: stretch;
}

#game-statistics-table, #players-statistics-table{
  border-collapse: collapse;
  border: 1px solid black;
}

table#game-statistics-table tr, table#players-statistics-table tr {
  border: 1px solid black;
}


table#players-statistics-table td,table#players-statistics-table th {
  border: 1px solid black;
}

#message{
  background-color: #ad0000;
}

#main-div{
  pointer-events:none;
  opacity:0.6;
}

#navigation-line{
  background: #002800;
}

.table-info,.table-info>td,.table-info>th

{
	
  background-color:#bee5eb

}

.username-label{
  font-family: Courier;
  font-style: bold;
  font-size: 3vw;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  color: #e6ffe6;
}
.username-input{
  font-family: Courier;
  font-style: bold;
  font-size: 2.5vw;
  width: 50%;
  background-color:#001f00;
  margin-left: auto;
  margin-right: auto;
  color: #e6ffe6;
  padding-left: 0.2vw;
  padding-top: 0.2vh;
  padding-bottom: 0.2vh;
}
.submit-btn{
  font-family: Courier;
  font-style: bold;
  font-size: 3vw;
  background-color: chartreuse;
  cursor: pointer;
  width: 100%;
  padding:1%;
}

.taki-logo{
  display: block;
  max-width:100%;
  min-width:80%;
  max-height:100%;
  margin-left: auto;
  margin-right: auto;
}

.login-page-wrapper{
  border-radius: 30px;
  background-color:#001f00;
  width: 20%;
  padding:2%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  margin-bottom: auto;
}




.user-info-area{
  width:100%;
  border: 1px solid black;
  background-color: #5b8858;
  border-collapse: collapse;
  color:white;
  font-family: Courier;
  font-style: bold;
  font-size: 1.5vh;
}
.user-info-area-td{
  /*border: 1px  solid black;*/
  border-width: 0px 1px 0px 0px;
  border-collapse: collapse;

  font-size: 1.5vw;
  padding: 5px;
  color: #fff;
  /*transition: all 0.3s ease-out;*/
}
.user-info-area-td-last{
  /*border: 1px  solid black;*/
  border-width: 0px 1px 0px 0px;
  border-collapse: collapse;

  font-size: 2.5vh;
  color: #fff;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 50vw;
  /*transition: all 0.3s ease-out;*/
}


.enterroom,.createroom{
  background-color: chartreuse;
  font-family: Courier;
  cursor: pointer;
  display: block;
  height: 100%;
  padding:8px;
  font-size: 1.5vw;
}

.logout{
  background-color: #ff5656;
  font-family: Courier;
  cursor: pointer;
  display: block;
  height: 100%;
  padding:8px;
  font-size: 1.5vw;
}






.players-rooms-row {
    display: flex;
    height: 100%;
}

.players-wrapper{
  flex: 50%;
  padding: 10px;
}

.rooms-wrapper{
  flex: 50%;
  padding: 10px;
}

.players-table{
  border-collapse: collapse;
  border: 3px solid black;
  width: 80%;
  background: #4fff57;
}
.rooms-table{
  border-collapse: collapse;
  border: 3px solid black;
  width: 80%;
  background: #4fff57;
}
.players-table>thead>tr{
  border: 2px solid black;
  font-family: Courier;
  background: #37bf3d;
}
.players-table>tbody>tr{
  border: 2px solid black;
  font-family: Courier;
}
.rooms-table>thead>tr{
  border: 2px solid black;
  font-family: Courier;
  background: #37bf3d;
}
.rooms-table>thead>tr>th{
  border: 2px solid black;
  font-family: Courier;
}
.rooms-table>tbody>tr{
  border: 2px solid black;
  font-family: Courier;
}
.rooms-table>tbody>tr>td{
  border: 2px solid black;
  font-family: Courier;
}

.table-top-label{
  font-family: Courier;
  font-size: 3vw;
  padding:6px;
}





.create-room-form-label{
  font-family: Courier;
  font-style: bold;
  color: black;
}

.create-room-modal-name-div{
  min-width:100%;
  max-width:100%;
}

.create-room-modal-message-div{
  font-family: Courier;
  font-size: 100%;
}



.notification{
  background-color: red;
}

.base-container-err-message{
  font-family: Courier;
  font-size: 100%;
  color: #e6ffe6;
}