html, body, .viewport {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
/*    background-image: url("pattern.png");*/
    background-repeat: repeat-x repeat-y;
    background-image: linear-gradient(to top,#003800,#005d00);
}


.game-flex {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;

}

.game-flex > div {
  width:100vw;
}

.board-flex-container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  align-self: center;
  justify-content: center;
}

.board-flex-container > div {
  min-height:18vh;
  max-height:18vh;
  border: 12px solid rgba(0,0,0,0);
}

.player-cards-flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-self: center;
  justify-content: center;
  align-items: center;
}

.player-cards-flex-container > div {
  min-height:18vh;
  max-height:18vh;
  min-width:5vw;
  max-width:8vw;
}

img {
  max-height:18vh;
  min-height:10vh;
}

.deck-container {
    position: relative;
    text-align: center;
    color: white;
}

.deck-text {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.deck-finish-turn-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
    background-color: chartreuse;
    font-size: 3.5vw;
    font-family: Courier;
    cursor: pointer;
    background-image: url("images/done.png");
    background-size: 100%;
    background-repeat:no-repeat;
}

.disabled {
  pointer-events:none;
  opacity:0.6;
}

.currentplayerdiv {
  background-color:#007f00;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}




/* The Modal (background) */
.modal {
/*  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.change-color-modal-content {
  position: relative;
  margin: auto;
  padding: 0;
  width: 200px;
  height: 200px;
  background-image: url("images/Taki_Color_Chooser.png");
  background-size: cover;
  cursor: pointer;
}

.status-bar{
  width:100%;
  border: 1px solid black;
  background-color: #5b8858;
  border-collapse: collapse;
  height:10px;
  color:white;
  font-family: Courier;
  font-style: bold;
}
.status-bar:hover{
  width:100%;
  border: 1px solid black;
  background-color: #06A85F;
  border-collapse: collapse;
  height:10px;
}
.status-bar-td{
  /*border: 1px  solid black;*/
  border-width: 0px 1px 0px 0px;
  border-collapse: collapse;
  height:10px;

  font-size: 1em;
  padding: 5px;
  color: #fff;
  border: 2px solid #06D85F;
  border-radius: 20px/50px;
  text-decoration: none;
  /*transition: all 0.3s ease-out;*/

}


#withdraw,#new-game{
  background-color: chartreuse;
  font-family: Courier;
  cursor: pointer;
  display: block;
  width: 100%;
  height: 100%;
  padding:0px;
  margin: 0px
}

#end-ok-button,#end-new-game-button,#close-end-game-button,#navigate-game-button{
  background-color: chartreuse;
  font-family: Courier;
  cursor: pointer;
  display: block;
  width: 80%;
  height: 100%;
  padding:3px;
  margin: 5px;
}

.navigation-button{
  background-color: chartreuse;
  font-family: Courier;
  cursor: pointer;
  display: block;
  width: 100%;
  height: 40px;
  margin-left: 20px;
  margin-right: 20px;
}


.end-game-modal {
  z-index: 10000; /* Sit on top */
  overflow: auto; /* Enable scroll if needed */
  background-color: #7ba858;
  align-self: center;
  padding:30px;
  position: fixed;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 25px;
  border: 4px solid #555528;
}


.end-game-modal-content {
  font-family: Courier;
  position: relative;
  margin: auto;
  /*padding: 20px;*/
  width: stretch;
  height: stretch;
}

#game-statistics-table, #players-statistics-table{
  border-collapse: collapse;
  border: 1px solid black;
}

table#game-statistics-table tr, table#players-statistics-table tr {
  border: 1px solid black;
}


table#players-statistics-table td,table#players-statistics-table th {
  border: 1px solid black;
}

#message{
  background-color: #ad0000;
}

#main-div{
  pointer-events:none;
  opacity:0.6;
}

#navigation-line{
  background: #002800;
}